<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Account Activation</h1>
        </div>
        <p>Hello <%= email %>,</p>
        <p>Click on the button below to activate your account:</p>
        <a class="button" href="<%= activationLink %>/<%= id %>/<%= token %>">Activate Account</a>
        <p>If you didn't request this activation, please ignore this email.</p>
        <div class="footer">
            <p>Best regards,</p>
            <p><%= companyName %></p>
        </div>
    </div>
</body>
</html>
